<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8mBaui8m2DCQvQvczb9Lf1pkmB5LXmM8</string>
	<key>GCM_SENDER_ID</key>
	<string>744957204116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org1.productivity-app</string>
	<key>PROJECT_ID</key>
	<string>ios-productivity-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-productivity-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:744957204116:ios:abe0e1512e0fbfa9dc8681</string>
</dict>
</plist>
